<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Crendentials</key>
	<dict>
		<key>accessToken</key>
		<string>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</string>
	</dict>
</dict>
</plist>
